<!doctype html>
<html class="no-js">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Kashcandi Music App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css assets/styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) assets/styles/main.css -->
  <link rel="stylesheet" href="assets/styles/main.css">
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) assets/styles/main.css -->
  <link rel="stylesheet" href="scripts/components/audioPlayer/component.css">
  <!-- endbuild -->

</head>
<body ng-app="musicPlayerApp" ng-controller="AppController" ng-cloak>
<!--[if lt IE 7]>
<div class="">Browser not supported. Please upgrade</div>
<![endif]-->
<!-- Add your site or application content here -->
<div class="header">
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class=""><h4 class="text-muted">KashCandiApp</h4></li>
      <li ng-show="currentUser"><a ng-href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li ng-show="!currentUser"><a ng-href="/#/login">Login</a></li>
      <li ng-show="!currentUser"><a ng-href="/#/signup">Sign up</a></li>
      <li ng-show="currentUser" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Account
          Settings<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">{{ currentUser.first_name }} {{ currentUser.last_name }}</a></li>
          <li role="separator" class="divider"></li>
          <li>
            <a ng-click="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <span ng-show="isViewLoading"><div class="loading_view"><img src="assets/images/ajax-loader.gif"/></div></span>

    <div class="alert alert-danger" ng-if="errors.length && isViewLoading" ng-repeat="error in errors">{{
      error.message }}
    </div>
    <div class="alert alert-success" ng-if="successMessages.length && isViewLoading"
         ng-repeat="success in successMessages">{{
      success.message }}
    </div>
    <div ng-view class="body clearfix"></div>
  </div>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script src="scripts/socket.io.js"></script>
<!-- bower:js -->
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
<!-- endbower -->


<!-- build:js scripts/modules.js -->
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="scripts/components/audioPlayer/component.js"></script>
<!-- endbuild -->


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/controllers/main.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/app.js"></script>
<!-- endbuild -->
</body>
</html>
