<div class="row placeholders">
  <div class="sub-header">Login</div>
  <form role="form" ng-submit="login()">
      <div class="alert alert-error">{{ error }}</div>
      <div class="form-group">
	<label for="username">Email address</label>
	<input type="email" ng-model="user.username" class="form-control" id="username" name="username" value="{{ username }}" placeholder="Enter email">
      </div>
      <div class="form-group">
	<label for="password">Password</label>
	<input type="password" ng-model="user.password" class="form-control" name="password" id="password"  placeholder="Password">
      </div>
    <input type="submit" class="btn btn-default" value="Login" />
  </form>
</div>
