<div class="col-xs-12 col-sm-6 col-md-8 pull-right">
  <!--
  <input type="text" ng-model="myModelObj">
  <input type="file" ng-file-select="onFileSelect($files)" >
  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
    ng-show="dropSupported">drop files here</div>
  <div ng-file-drop-available="dropSupported=true" 
      ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
  <button ng-click="upload.abort()">Cancel Upload</button>
  -->
    <ul class="list-group clearfix">
      <li
	class="list-group-item"
	ng-repeat="each_list in lists"
	data-file="{{ each_list.key }}">{{ each_list.name }}</li>
    </ul>
</div>
<div class="col-xs-3 col-md-2 pull-right">
      <ul class="list-group">
	<li class="list-group-item" ng-repeat="user in online_users" title="{{ user.username }}">
	  <span class="" style="font-size:0.5em">{{ user.created_on }}</span>
	  <span class="id hide">{{ user._id}}</span>
	  {{ user.username }}
	  <div class='btn' ng-click="deleteUser(user)">delete</div>
	  <div class='btn' ng-click="updateUser(user)">edit</div>
	</li>
      </ul>
</div>
<div class="col-xs-3 col-md-2" style="position: fixed;right: 0;top:0; padding: 0;">
      <ul class="list-group" style="overflow-y:scroll;overflow-x: hidden;height:530px">
	<li class="list-group-item" ng-repeat="user in users" title="{{ user.username }}">
	  <span class="" style="font-size:0.5em">{{ user.created_on }}</span>
	  <div class="hide">{{ user._id}}</div>
	  <div class="">{{ user.first_name}} {{ user.last_name }}</div>
	  <div class="">{{ user.username }}</div>
	  <div class='btn' ng-click="deleteUser(user)">delete</div>
	  <div class='btn-primary btn' ng-click="updateUser(user)">edit</div>
	</li>
      </ul>
</div>
<div class="col-xs-3 col-md-2" style="background: gray;position: fixed;left: 0; top:0;padding: 0;">
      <ul class="list-group" style="overflow-y:scroll;overflow-x: hidden;height:530px">
	<li class=""><h4 class="text-muted">KashCandiApp</h4></li>
	<li
	class="list-group-item"
	ng-repeat="item in data"
	ng-style="
	{
	  'height' : 'auto',
	  'margin' : '10px',
	  'float' : 'left'
	}"
	title="{{item.artist.name}} - {{item.title}}"
	data-file="{{item.file}}"
      >
	<div class="pull-left"><img ng-style="{ 'width' : '40px' }" src="{{item.image}}" /></div>
	<div class="pull-left" style="width: 90px;margin-left: 10px;font-size: 12px">{{item.title}}</div>
      </ul>
    </div>
<div class="col-xs-10 col-md-12" style="background: lightyellow;position: fixed;bottom: 0; left:0;padding: 0;">
  <div class="container-fluid">
    <div class="row-fluid">
      <audio-player class="col-xs-8 col-sm-10 col-md-16"></audio-player>
    </div>
  </div>
</div>
