<div class="alert alert-error" ng-show="errors.length" ng-repeat="error in errors">{{error}}</div>
<div class="alert alert-success" ng-show="alert.length" ng-repeat="success in alert">{{success.message}}</div>
<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-16 col-sm-16 col-md-16">
    <ul class="list-group audio_list">
      <li class="list-group-item clearfix" ng-repeat="each_list in lists" data-file="{{ each_list.key }}">
	<div ng-click="add(each_list)" class="pull-left">
	  <i class="glyphicon glyphicon-plus"></i>
	</div>
	<div class="edit-delete pull-right">
<!--	    <span ng-click="toggleEditAudio(each_list._id)" ng-hide="each_list.show"> -->
	    <a ng-href="/#/audio/edit/{{each_list._id}}" ng-hide="each_list.show">
	      <i class="glyphicon glyphicon-edit"></i>
	    </a>
	    <span ng-click="deleteAudio(each_list._id)"><i class="glyphicon glyphicon-remove"></i></span>
	</div>
	<span>{{ $index }}</span>
	<span>{{ each_list.name }}</span>
      </li>
    </ul>
    <div class="well">
    <a class="btn btn-primary" ng-hide="isUploadVisible" ng-click="isUploadVisible = !isUploadVisible">Upload</a>
    </div>
    <div class="well uploader" ng-show="isUploadVisible">
      <button class="btn-link pull-right" ng-click = "isUploadVisible = !isUploadVisible" ><i class="glyphicon glyphicon-remove"></i></button>
      <label class="btn btn-primary" for="upload_files">Add Files</label>
      <input id="upload_files" style="position:absolute; left:-9999px;" type="file" multiple ng-file-select="onFileSelect($files)" >
      <button class="btn-link pull-right" ng-show="files.length" ng-click="upload.abort()">Cancel Upload</button>
      <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
	ng-show="dropSupported" style="background: lightseagreen;text-align: center;padding: 10px;border: 1px solid lightseagreen;margin: 20px auto;color: white;">Drag Files</div>
      <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
    </div>
</div>


<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-16 col-sm-16 col-md-16">
      <ul class="list-group">
	<li class="list-group-item clearfix"  ng-repeat="each_playlist in playlist"><a href="" ng-click="selectPlaylist($index)">{{ each_playlist.name }}</a></li>
      </ul>

</div>
<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-16 col-sm-16 col-md-16">
    <a class="btn btn btn-default" ng-hide="isOnlineUserVisible" ng-click="showOnlineUsers()">Online Users <label ng-show="new_users.length" class="highlight">{{ new_users.length }}</label></a>
    <div class="online_users" ng-show="isOnlineUserVisible">
      <ul class="list-group">
	<li class="close_button clearfix"><span class="pull-right"><button class="btn-link" ng-click = "showOnlineUsers()" ><i class="glyphicon glyphicon-remove"></i></button></span></li>
	<li class="list-group-item clearfix" ng-repeat="user in online_users" title="{{ user.username }}">
	  <span class="hide" style="font-size:0.5em">{{ user.created_on }}</span>
	  <span class="id hide">{{ user._id}}</span>
	  <div class="user_name">{{ user.username }}</div>
	</li>
      </ul>
    </div>
</div>
<audio-player class="clearfix"></audio-player>
<div class="playlist">
  <ul class="list-group">
	<li class="list-group-item clearfix" ng-show="current_playlist.audio_ids.length" ng-click="clear(current_playlist._id)"><div class="btn-link pull-right">clear</div></li>
	<li
	class="list-group-item clearfix"
	ng-repeat="item in current_playlist.audio_ids"

	title="{{item.name}}"
	data-file="{{item.key}}"
      >
	<div class="pull-left">{{ $index +  1 }}</div>
	<div class="pull-left">{{ item.audio_ids }}</div>
	<div class="pull-left"><img ng-style="{ 'width' : '40px' }" src="{{item.image}}" /></div>
	<div class="pull-left" style="width: 90px;margin-left: 10px;font-size: 12px">{{item.name}}</div>
	<div class="pull-left" style="position: absolute;top: 5px;right: 10px;" ng-click="deleteAudio(item._id)"><i class="glyphicon glyphicon-remove"></i></div>
      </ul>
  <ul class="list-group registered_user_list" >
	<li class="list-group-item clearfix" ng-repeat="user in users" title="{{ user.username }}">
	  <div class="edit-delete pull-right">
	    <span ng-click="updateUser(user)"><i class="glyphicon glyphicon-edit"></i></span>
	    <span ng-click="deleteUser(user._id)"><i class="glyphicon glyphicon-remove"></i></span>
	  </div>
    <div class="" style="overflow:hidden">
	    <span class="hide" style="font-size:0.5em">{{ user.created_on }}</span>
	    <div class="hide">{{ user._id}}</div>
      <div class="" style="overflow:hidden">{{ user.first_name}} {{ user.last_name }}</div>
	    <div class="">{{ user.username }}</div>
	  </div>
	</li>
      </ul
</div>
